@model Identity.STS.ViewModels.Account.ShowRecoveryCodesViewModel

@{
    ViewData["Title"] = "ShowRecoveryCodes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="fa fa-exclamation-triangle"></span>
        <strong>SubTitle</strong>
    </p>
    <p>
        Info
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        @for (var row = 0; row < Model.RecoveryCodes.Length; row += 2)
        {
            <code>@Model.RecoveryCodes[row]</code><text>&nbsp;</text><code>@Model.RecoveryCodes[row + 1]</code><br />
        }
    </div>
</div>