
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hi</h1>
<h3>Wellcome to MyID</h3>
<p>The demo project contains a preconfigured set of sample code that help you become more familiar with key features in Identity Server4.</p>
<p>So please ignore the bad UX. Thank you!!!</p>

<br />
<p>You can find metadata and links to all the endpoints, key material, in <a href="~/.well-known/openid-configuration">discovery document</a></p>